<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Notes App</title>
        <link rel="stylesheet" href="../css/first.css">
      </head>
      <body>
        <h1>MY NOTES</h1>
            <h3>Enter the date</h3>
            <input type="date" id="Date" name="date" required placeholder="Date">
            <h3>How was your day?</h3>
            <textarea id="notes" name="notes" rows="30" cols="200"></textarea>
            <button>submit</button>
      </body>
</html>